html,
body,
header,
#intro {
  height: 100%;
  scroll-behavior: smooth;
}

#intro {
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDGpafNDuRwetbh3SgUq0-vq8kUQ5fc4gFFcW4vQ2vB2e6ttm8Wg");
  background-size: cover;
  background-position: center;
  -webkit-background-size: ;
  -moz-background-size: cover;
  -o-background-size: ;
  filter: brightness(40%);
}
.mask {
  padding: 300px;
  color: white;
}
.navbar {
  background: rgba(20,20,0,0.5);
}
.btn {
  background-color: dodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;

}
  .btn:hover {
    background-color: RoyalBlue;
  }
.footer {
  background: rgba(20,20,0,0.5);
  color: dodgerBlue;
}
