html,
body,
header,
#intro {
  height: 100%;
}

#intro {
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQY6pZbV3NsrE9tA8Y2dlYbsdLOmZSc1MDqPAkCNVWQ5_xjkbHkCg");
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  filter: brightness(30%);
}
.mask {
  padding: 300px;
  color: white;
}
.navbar {
  background: rgba(0,0,150,0.5);
}
.btn {
  background-color: dodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;

}
  .btn:hover {
    background-color: RoyalBlue;
  }
